.btn {
    position: relative;
    display: inline-block;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    
    @include button-size($btn-padding-x, $btn-padding-y, $btn-font-size, $btn-border-radius);
    @include button-style($body-color, none, $btn-border-width solid transparent, $body-color, none, $btn-border-width solid transparent);

    border-radius: $btn-border-radius;
    box-shadow: $btn-box-shadow;
    cursor: pointer;
    transition: $btn-transition;
    outline: none;
    user-select: none;
    touch-action: manipulation;

    &.disabled,
    &[disabled]{
        cursor: not-allowed;
        opacity: $btn-disabled-opacity;

        > *{
            pointer-events: none;
        }
    }

    &.danger{
        @include button-style($gray-1, $red, $btn-border-width solid darken($red, 10%));
    }

    &.dashed{
        border-style: dashed;
    }
}

.btn-large{
    @include button-size($btn-padding-x-large, $btn-padding-y-large, $btn-font-size-large, $btn-border-radius);
}

.btn-small{
    @include button-size($btn-padding-x-small, $btn-padding-y-small, $btn-font-size-small, $btn-border-radius);
}

.btn-primary{
    @include button-style($gray-1, $blue, $btn-border-width solid darken($blue, 10%));
}

.btn-default{
    @include button-style($gray-13, none, $btn-border-width solid transparent, $blue, none, $btn-border-width solid $blue);
}

.btn-link{
    @include button-style($gray-13, none, $btn-border-width solid transparent, $blue, none, $btn-border-width solid $blue);
    border: 0;
    text-decoration: none;
    box-shadow: 0;

    &:hover{
        text-decoration: underline;
        border: 0;
    }

    &:focus{
        text-decoration: underline;
        border: 0;
    }

    &.disabled,
    &[disabled]{
        text-decoration: none;
        border: 0;
    }
}