$alert-title-font-weight: 400;
$alert-title-font-size: $font-size-large;
$alert-content-font-size: $font-size-base;

$alert-padding-x: .75rem !default;
$alert-padding-y: .75rem !default;

$alert-border-width: $border-width !default;
$alert-border-radius : .1rem;

