$gray-1: #ffffff!default;
$gray-2: #fafafa!default;
$gray-3: #f5f5f5!default;
$gray-4: #f0f0f0!default;
$gray-5: #d9d9d9!default;
$gray-6: #bfbfbf!default;
$gray-7: #8c8c8c!default;
$gray-8: #595959!default;
$gray-9: #434343!default;
$gray-10: #262626!default;
$gray-11: #1f1f1f!default;
$gray-12: #141414!default;
$gray-13: #000000!default;

$blue: #1890ff!default;
$red: #f5222d!default;
$volcano: #fa541c!default;
$orange: #fa8c16!default;
$gold: #faad14!default;
$yellow: #fadb14!default;
$lime: #a0d911!default;
$green: #52c41a!default;
$cyan: #13c2c2!default;
$geekblue: #2f54eb!default;
$purple: #722ed1!default;
$magenta: #eb2f96!default;

$primary: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-2 !default;
$dark: $gray-12 !default;
$info: $cyan !default;
$success: $green !default;

$body-bg: $gray-1!default;
$body-color: $gray-13!default;

$theme-colors:(
  'primary': $primary,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'info': $info,
  'success': $success
)