$menu-border-width: $border-width !default;
$menu-border-color: $border-color !default;
$menu-transition: color .1s ease, border-color .1s ease !default;

$menu-item-padding-x: 1rem !default;
$menu-item-padding-y: .5rem !default;
$menu-item-active-color: $primary !default;
$menu-item-active-border-width: 2px !default;
$menu-item-disabled-color: $gray-7 !default;

